html{ background-color: #000000;}

#answer{
    color: #F7F7F7;
    background-color: #000000;
    border-color: transparent;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator{
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid #F7F7F7 1px;
    border-radius: 10px;
    padding: 20px;
}
#answer{
    color: #F7F7F7;
    text-align: right;
    font-size: 50px;
}

.logicBtn{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.number-container{
    display: flex;
    flex-wrap: wrap;
    width: 190px;
    height: 300px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}
.num:focus, #period:focus, #allClear:focus, #clearBtn:focus{
    
    background-color: #5f5f5f;
}
.num, #period{
    background-color: #303130;
    border-radius: 25px;
    padding: 10px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    color: #F7F7F7;
    border-color: transparent;
}
.num#num0{
    width: 110px;
    text-align: left;
}
#allClearBtn{
    width: 110px;
    border-radius: 20px;
    padding: 8.5px;
    font-size: 25px;
    background-color: #303130;
    color: #F7F7F7;
    border-color: transparent;
}
#clearBtn{
    width: 110px;
    border-radius: 20px;
    padding: 8.5px;
    font-size: 25px;
    background-color: #303130;
    color: #F7F7F7;
    border-color: transparent;
}
#deleteBtn{
    width: 50px;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 25px;
    background-color: #303130;
    color: #F7F7F7;
    border-color: transparent;
    height: 50px;
}
.mathOperators{
    display: flex;
    flex-wrap: wrap-reverse;
    width: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.symbol, #equal{
    background-color: #F69906;
    color: #F7F7F7;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: transparent;
}#multiply{
    padding-bottom: 5px;
    padding-left: 6.5px;
    font-size: 28px;
}
#subtract{
    font-size: 39px;
    padding-bottom: 10px;
}
