html{ background-color: #000000;}

#answer{
    color: #F7F7F7;
    background-color: #000000;
    border-color: transparent;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator{
    width: 275px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid #F7F7F7 1px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 75px;
    height: 420px;
}
#answer{
    color: #F7F7F7;
    text-align: right;
    font-size: 60px;
    height: 70px;
}

.logicBtn{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.number-container{
    display: flex;
    flex-wrap: wrap;
    width: 220px;
    height: auto;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}
.num:focus, #period:focus, .refresh:focus{
    background-color: #5f5f5f;
}
#allClearBtn:focus, #clearBtn:focus, #deleteBtn:focus, #addNegative:focus{
    background-color: #F7F7F7;
}
.num, #period{
    background-color: #303130;
    border-radius: 30px;
    padding: 10px;
    font-size: 30px;
    width: 60px;
    height: 60px;
    color: #F7F7F7;
    border-color: transparent;
}
.num#num0{
    width: 130px;
    text-align: left;
    padding-left: 20px;
}

#deleteBtn, #addNegative, #allClearBtn, #clearBtn{
    width: 60px;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 25px;
    background-color: #A5A5A5;
    color: #000000;
    border-color: transparent;
    height: 60px;
}
#addNegative{
    font-size: 24px;
}
.mathOperators{
    display: flex;
    flex-wrap: wrap-reverse;
    width: 70px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.symbol, #equal{
    background-color: #F69906;
    color: #F7F7F7;
    font-size: 30px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

.refresh{
    width: 155px;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: #303130;
    color: #F7F7F7;
    border-color: transparent;
    margin-top: 50px;
}
